@import url('../fonts/TurboType/stylesheet.css');

:root {

    --midnight-green: #0f3d3eff;
    --persian-green: #3c9d91ff;
    --aquamarine: #00feaaff;
    --silver: #b5b5b4ff;
    --anti-flash-white: #f3f5f5ff;
    --cyan-rgb: #01fffeff;
    --imperial-red: #fe3a3fff;
    --gold-metallic: #d4af37ff;
    --eerie-black: #1a1b1bff;
    --persian-green-2: #3b9b91;
}

body {
    margin: 0;
    overflow-x: hidden;
    background-color: var(--anti-flash-white);
}

*::-webkit-scrollbar {
    display: none;
}

.ri-dashboard-line::before {
    font-size: 2rem;
}

.ri-pencil-line::before {
    font-size: 2rem;
}

.ri-file-list-line::before {
    font-size: 2rem;
}

.ri-bookmark-line::before {
    font-size: 2rem;
}

.ri-arrow-left-double-line::before {
    font-size: 1rem;
}

.sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: var(--midnight-green);
    color: var(--anti-flash-white);
    transition: width 0.3s ease;
    display: flex;
    flex-direction: column;
    align-items: stretch;
}

.sidebar.collapsed {
    width: 4.5rem;
}

.sidebar.expanded {
    width: 16rem;
}

.logo {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3rem;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.logo a {
    text-decoration: none;
    color: var(--anti-flash-white);
    font-size: 3rem;
}

.logo-start {
    font-family: 'Turbo Type Two';
}

.logo-end {
    font-family: 'Turbo Type Three';
}

.sidebar .nav-link {
    color: var(--anti-flash-white);
    padding: 1rem;
    display: flex;
    align-items: center;
}

.sidebar .nav-link.active {
    background-color: var(--persian-green-2);
    border-left: 1px solid var(--cyan-rgb);
}

.sidebar .nav-link .ri {
    margin-right: 1rem;
}

.sidebar .nav-link span {
    margin-left: 1rem;
    font-size: 1.25rem;
}

.sidebar .nav-link:hover {
    background: var(--persian-green-2);
}

.sidebar.collapsed .nav-link {
    justify-content: center;
}

.sidebar.collapsed .nav-link .text {
    display: none;
}

.sidebar.collapsed .logo a {
    display: none;
}

.toggle-btn {
    position: fixed;
    top: 1rem;
    left: 16rem;
    background: var(--midnight-green);
    color: var(--anti-flash-white);
    border: none;
    padding: 0.5rem 1rem;
    transition: left 0.3s ease;
    border-radius: 200px;
    margin-left: 1rem;
}

.toggle-btn.collapsed {
    transform: rotate(180deg);
}

.sidebar.collapsed + .toggle-btn {
    left: 4rem;
}

.main-content {
    margin-left: 16rem; 
    padding: 1rem;
    height: 100dvh;
    transition: margin-left 0.3s ease;
    
}