@import url('../fonts/TurboType/stylesheet.css');

.main-content {
  margin-left: 16rem; 
  padding: 1rem;
  height: 100dvh;
  transition: margin-left 0.3s ease;
  overflow-y: hidden;
}

.top-section {
  margin-left: 5rem;
  margin-right: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.blog-heading {
  width: 75%;
  font-size: 16px;
  padding: 10px 10px 10px 5px;
  display: block;
  border: none;
  border-bottom: 1px solid var(--eerie-black);
  background: transparent;
}

.blog-heading:focus {
  outline: none;
}

.btn-section {
  width: 20%;
  padding: 0px 0px 0px 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
}

.btn-section button {
  margin: 0rem 0rem 0rem 1rem;
  padding: 0.5rem 2rem 0.5rem 2rem;
  font-size: 16px;  
}

.btn-section button:hover {
  transform: translateY(-2px);
}

.save-blog {
  transition: all 0.2s ease;
  background-color: var(--silver);
  border: none;
}

.publish-blog {
  background-color: var(--gold-metallic);
  color: var(--eerie-black);
  transition: all 0.2s ease;
}

.bottom-section {
  margin-top: 1rem;
  height: 90dvh;
  display: flex;
  flex-direction: row;
}

.blog-content {
  height: 100%;
  width: 80%;
}

.tools-section {
  width: calc(20% - 10px);
  height: 100%;
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-x: hidden;
  overflow-y: scroll;
}

.tools heading {
  font-size: 1.2rem;
}

.tools {
  border-bottom: 1px solid var(--eerie-black);
  width: 100%;
}

.tool {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 0.5rem;
  padding: 0.5rem;
}

.tool-item {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 0.1rem;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  text-align: center;
}

.tool-item:hover {
  background-color: var(--persian-green);
}

.tool-item i {
  font-size: 1.5rem;
  margin-bottom: 0.1rem;
  color: var(--midnight-green);
}

.tool-item span {
  font-size: 0.75rem;
  color: var(--eerie-black);
}

